*{
    margin: 0;
    padding: 0;
}

body{
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh;
}

.logo{
    display: flex;
    justify-content: center;
}
div,
.logo{
    margin: 0;
    transform: translateX(19%); /*move para esquerda*/
}

.logo img{
    display: block !important;
    width: auto;
    max-width: 35px;
    max-height: 34px; 
}

.cabe-header{
    display: block;
    width: 101%;
    margin: 0 auto;
    padding: 2px;
    border: 1px solid black;
    border-radius: 8px;
    background-repeat: no-repeat;
    transform: translateX(-1%);
}  
.cabe-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*Define o tamanho das colunas*/
    min-height: 3.2rem; /*Define a altura minima de um elemento*/
    position: relative;
    padding: 12px;
}
.Inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: auto;
    
}
