*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.box-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    width: 100% ;
    align-items: center;
    height: 33px;
    transform: translateX(-270%); 
}

.box-search{
    display: block !important;
    width: 300px; 
    margin: 0; 
    flex-wrap: wrap !important; 
    align-items: center;
}

.busca-search-input::placeholder{
    color: white;
    opacity: 0.6;
} 
.busca-search-input::-webkit-input-placeholder{
    color: white;
} 
.busca-search-input::-moz-placeholder{
    color: white;
}
.busca-search-input::-ms-input-placeholder{
    color: white;
}  

.box-search form{
    display: flex;
    border-radius: 30px;
    justify-content: center;
    height: 100%; 
    cursor: pointer;
}
.busca-search-input{
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    font-size: 16px;
    color: black;
}
.busca-search-btn{
    display: flex;
    border-radius: 100%;
    width: 50px;
    height: 60px;
    background-color: whitesmoke;
    border: 2px;
    cursor: pointer;
    transition: .3s;
} 
.Busca-search-btn{
    display: block !important;
    align-items: flex-start;
}
.btn-search[type="button"]{
    all: unset;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 250ms;
}
.btn-search[type="button"]:hover{
    box-shadow: inset 0px -4px 0;
}

.Busca-search-btn:active{
    transform: scale(.85);
}
